*
!*/
!/.gitignore
!/modpack.json
!/README.txt
!/CREDITS.txt
!/Changelog.txt
!/smart_moving_options.txt

!/scripts/*
!/resourcepacks/*

!/config/*
!/config/biomesoplenty/*
!/config/biomesoplenty/structures/*
!/config/GanyMods/*
!/config/roguelike_dungeons/*
!/config/SpiceOfLife/*

# CoFH mods
!/config/cofh/*
!/config/cofh/core/*
!/config/cofh/world/*

# Changes timestamp every startup
/config/splash.properties
# Is recreated automatically
/config/SpiceOfLife/example-food-group.json

# Ignore optional mod config files
/config/fastcraft.ini
/config/InvTweaks*
/config/MouseTweaks.cfg
/config/MumbleLink.cfg
